<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" id="page9" class=" ">
    <ion-content padding="true" style="background: url(img/K7GVbx7ZQjmifiBpVerm_career.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 285px; height: 90px;"></div>
        <button id="login-button4" style="font-weight:500;font-size:20px;" class=" button button-light  button-block button-outline icon-left ion-social-linkedin-outline " ng-click = "signUpWithLinkedIn()">SignUp With LinkedIn</button>
        <div class="spacer" style="width: 300px; height: 103px;"></div>
        <div ng controller = "loginCtrl">
        <form id="login-form3" name="loginForm" ng-controller="loginCtrl" class="list" novalidate>
            <label class="item item-input " id="login-input4">
                <input type="email" name="emailAddress" placeholder="EmailAddress" ng-model="mentor.emailAddress" required>
            </label>
            
            <label class="item item-input " id="login-input6">
                <input type="password" placeholder="Password" name="userPassword" ng-model="mentor.userPassword" required>
            </label>
        <button id="login-button5" style="font-weight:500;" class=" button button-light  button-block button-outline " type="submit" ng-click="login(mentor.emailAddress,mentor.userPassword)">Log In</button>
        </form>
        
        </div>
    </ion-content>
</ion-view>