<ion-view title="Profile" id="page7" style="background-color:#FFFFFF;" class=" mentor-style">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 285px; height: 9px;"></div>
        <div class="&quot;profile-image-style&quot;">
            <img src="{{imageUrl}}" width="50%" height="50%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 285px; height: 0px;"></div>
        <div>
            <h3 class="" align="center">
                {{fullname}}  - {{occupation}}
            </h3>
            <h5 class="" align="center">
                {{industry}}
            </h5>
            <h5 class="" align="center">
                <i class="icon ion-location"></i>&nbsp;{{location}}
            </h5>
        </div>
        <ion-list id="profile-list1" class=" ">
            <ion-item class="item-icon-left  " id="profile-list-item37">
                <i class="icon ion-android-contacts"></i>Mentors
                <span class="item-note">59</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="profile-list-item38">
                <i class="icon ion-android-contacts"></i>Mentee
                <span class="item-note">59</span>
            </ion-item>
            <ion-item class="item-icon-left  " id="profile-list-item39">
                <i class="icon ion-ios-list-outline"></i>Activities
                <span class="item-note">59</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>